{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Smile</title>

    <!-- Memanggil script Tailwind CSS secara global agar semua halaman otomatis support -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS Lama kamu (tetap dibiarkan jika ada halaman lain yang masih pakai) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <!-- Tempat konten halaman lain akan muncul -->
    {% block content %}
    {% endblock %}
</body>

</html>